@font-face {
  font-family: 'Chaparral Pro';
  src: url('https://cdn.shopify.com/s/files/1/0640/8378/7881/files/ChaparralPro-Regular.otf?v=1753259631') format('opentype');
  font-weight: normal;
  font-style: normal;
}
